{% extends 'base.html'%}{% block content %}
{% block page_title %}About Us{% endblock %}

	<!--About-->
	<section class="Main">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12">
					<div class="page-header">
						<h2 class="text-uppercase"></h2>
						<h4>{% block title %}{% endblock %}</h4>
					</div>
				</div>
			</div>

			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-12">
						<p>

							Based in North Brisbane, Press Constructions provides a range of General Building,
							Renovation & Floor Laying services across South East Queensland. With over 10 years
							experience across SA, NT and QLD, Press Constructions pride themselves on providing quality
							workmanship and outstanding customer service.

							Get in <a href="contact">touch</a> to discuss your next project and how Press Constructions can
							offer you a
							complete solution for your building needs.

							We look forward to working with you.
						</p>
					</div>
				</div>
			</div>
		</div>
{% endblock %}