{% extends 'base.html'%}
{% block title %}Press | About Us{% endblock %}
{% block content %}
<!--About-->
<div class="container-fluid">
	<div class="row">
		<h2 class="text-uppercase">About Us</h2>
	</div>

	<div class="row">
    <div class="col-sm-4 col-sm-offset-4">
			<img src="static/images/Bodhi.jpg" style="height: 20vh;">
		</div>

		<div class="col-sm-12 col-md-4 col-md-offset-4">
			<div class="about">
				Based in North Brisbane, Press Constructions provides a range of General Building,
				Renovation & Floor Laying services across South East Queensland. With over 10 years
				experience across SA, NT and QLD, Press Constructions pride themselves on providing quality
				workmanship and outstanding customer service.

				Get in <a href="contact">touch</a> to discuss your next project and how Press Constructions can
				offer you a
				complete solution for your building needs.

				We look forward to working with you.
			</div>
		</div>
		
	</div>
</div>
</div>
{% endblock %}