<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<title>{% block page_title %}Press Constructions{% endblock %}</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		type="text/css" />
	<link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.3.1/css/hover-min.css"
		type="text/css" />
	<link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="static/css/style.css" type="text/css">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>

</head>


<body>
	<div id="fb-root"></div>
	<script async defer crossorigin="anonymous"
		src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v5.0&appId=989900854742977&autoLogAppEvents=1">
	</script>
	<!----Navigation----->
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12 logo">

					<a class="navbar-brand" href="{{url_for('home')}}"><img src="static/images/Logo.jpg">

					</a>

						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
				</div>

				<div class="navbar-collapse collapse" id="navbar">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="{{url_for('home')}}">Home</a></li>
						<li><a href="{{url_for('about')}}">About Us</a></li>
						<li><a href="{{url_for('projects')}}">Gallery</a></li>
						<li><a href="{{url_for('testimonials')}}">Testimonials</a></li>
						<li><a href="{{url_for('contact')}}"">Contact Us</a></li>
						<li><a class=" phone"><i class="fa fa-phone"></i>
								0466 158 877 </a></li>
					</ul>
				</div>
			</div>
	</nav>

	<body>
		<div class="content">
			{% block content %}{% endblock %}
		</div>



		<!-- Button trigger modal -->


		<i class="fab fa-facebook-messenger" data-toggle="modal" data-target="#myModal" title="Message us via fb messenger"></i>


		<!-- Modal -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<div class="modal-body">
							<div class="fb-page" data-href="https://www.facebook.com/pressconstructions"
								data-tabs="messages" data-width="" data-height="" data-small-header="false"
								data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
								<blockquote cite="https://www.facebook.com/pressconstructions"
									class="fb-xfbml-parse-ignore"><a
										href="https://www.facebook.com/pressconstructions">Press Constructions</a>
								</blockquote>
							</div>
						</div>
						<div class="modal-footer">
						</div>
					</div>
				</div>
			</div>
		</div>


		<!--Footer-->

		<footer class="footer">

			<!--Social Media-->
			<div class="mysocial">
				<ul class="list-inline social-links">
					<li><a target="_blank" href="https://www.facebook.com/pressconstructions/">
							<i class="fab fa-facebook"></i>
					<li><a target="_blank" href="https://www.instagram.com/pressconstructions/">
							<i class="fab fa-instagram" aria-hidden="true"></i></a></li>

				</ul>
			</div>
			<div class="details">

				<!--Company Details-->

				<p> ABN 23 285 007 781 | ACN 638 481 606 | QBCC Licence 1512 5852</p>
			</div>
			<!--Copyright-->
			<div class="Copyright">
				&copy WickeDesigns 2020
			</div>
			</div>
		</footer>






		<script src="https://code.jquery.com/jquery-3.2.1.min.js"
			integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
			integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js">
		</script>
		<script src="js/bootstrap.min.js"></script>
		</script>
	</body>
	</section>

</html>