<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<title>{% block title %}{% endblock %}</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		type="text/css" />
	<link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.3.1/css/hover-min.css"
		type="text/css" />
	<link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="static/css/style.css" type="text/css">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>

</head>
<body>
	<!----Navigation----->
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12">
            <!-- main desktop menu -->
                 <div class="menu hidden-xs">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="{{url_for('home')}}">Home</a></li>
					 	<li><a href="#">Designs</a></li>
						<li><a href="#">Projects</a></li>
                        <li><a href="#">Inclusions</a></li>
					    <li><a href="{{url_for('contact')}}">Contact Us</a></li>
					    <li><a href="tel:1111-111-111"><i class="fa fa-phone"></i>
						0407 095 374 </a></li>
                    </ul>
                 </div>
    <!-- Navbar logo -->
     <a href="{{url_for('home')}}"><img src="static/img/logo.png" id="logo">
			     </a>
				</div>
        <!-- SideNav toggle and list items-->
    <span class="openbtn hidden-sm hidden-md hidden-lg" onclick="openToggle()">&#9776; </span>
		<div id="mySidebar" class="sidebar">
                <a href="javascript:void(0)" class="closebtn" onclick="closeToggle()">x</a>
				<a href="{{url_for('home')}}">Home</a>
				<a href="#">Designs</a>
				<a href="#">Projects</a>
                <a href="#">Inclusions</a>
				<a href="{{url_for('contact')}}">Contact Us</a>
			    <a href="tel:1111-111-111"><i class="fa fa-phone"></i>
								0407 095 374 </a>
		        </div>
		    </div>
		</div>
	</nav>

    <!-- main content -->
 
		{% block content %}  
        {% endblock %}	


	<!-- footer links here -->
<footer class="fixed">
	<div class="container">
		<div class="footer">
    <!--About-->
	   	<div class="col-md-4">
			<div class="about">
        	<h4 class="text-uppercase">About Us</h4>
             <p>
			Based in the Northern Territory of Australia, Majesty homes pride themselves in offering quality homes.
             </p>
			</div>
		</div>	
		
    <!-- quick links -->
<div class="col-md-4 col-md-offset-4">
	<h4 class="text-uppercase">Quick Links</h4>
        <ul style="text-align:left;">
            <li><a href="{{url_for('home')}}">Home</a></li>
			<li><a href="{{url_for('designs')}}">Designs</a></li>
			<li><a href="{{url_for('projects')}}">Projects</a></li>
            <li><a href="{{url_for('projects')}}">Inclusions</a></li>			<li><a href="{{url_for('contact')}}">Contact Us</a></li>
		</ul>     
</div>
		
<div class="social-links">
   <div class="col-sm-12 col-md-6 col-md-offset-6">
      <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
   </div>
</div>

   <div class="row">
     <div class="col-sm-12 col-md-6 col-md-offset-5 ">
	    <div class="copyright-text"><h6>Copyright &copy; 2020 
			<a href="http://wickedesigns.herokuapp.com/" target="_blank" style="color:#c47442;">WickeDesigns</h6></a>	
		</div>
	 </div>
   </div>
		</div>
	</div>
</footer>

<!-- scripts -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"
integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js">
</script>

<!-- functions to open and close sideNav -->
<script>

function openToggle() {
   document.getElementById("mySidebar").style.width = "100%";
}

function closeToggle() {
   document.getElementById("mySidebar").style.width = "0";
}

</script>
	</body>
</html>