<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<title>{% block title %}{% endblock %}</title>
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		type="text/css" />
	<link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.3.1/css/hover-min.css"
		type="text/css" />
	<link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="static/css/style.css" type="text/css">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>

</head>


<body>
	<script>
		window.fbAsyncInit = function() {
    FB.init({
      appId            : '989900854742977',
      autoLogAppEvents : true,
      xfbml            : true,
      version          : 'v6.0'
    });
  };
	</script>
	<script async defer src="https://connect.facebook.net/en_US/sdk.js"></script>
	<!----Navigation----->
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12">

					<a class="navbar-brand" href="{{url_for('home')}}"><img src="static/images/Logo.jpg" id="logo">

					</a>

						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
				</div>

				<div class="navbar-collapse collapse" id="navbar">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="{{url_for('home')}}">Home</a></li>
						<li><a href="{{url_for('about')}}">About Us</a></li>
						<li><a href="{{url_for('projects')}}">Gallery</a></li>
						<li><a href="{{url_for('testimonials')}}">Testimonials</a></li>
						<li><a href="{{url_for('contact')}}">Contact Us</a></li>
						<li><a href="tel:0466-158-877"><i class="fa fa-phone"></i>
								0466 158 877 </a></li>
					</ul>
				</div>
			</div>
	</nav>

	<body>

		{% block content %}{% endblock %}
		<!-- WhatsHelp.io widget -->
<script type="text/javascript">
    (function () {
        var options = {
            facebook: "110484450482055", // Facebook page ID
            call_to_action: "Message us", // Call to action
            position: "right", // Position may be 'right' or 'left'
        };
        var proto = document.location.protocol, host = "getbutton.io", url = proto + "//static." + host;
        var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
        s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
        var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
    })();
</script>
<!-- /WhatsHelp.io widget -->

		<!--Footer-->

		<footer class="footer">

			<!--Social Media-->
			<div class="mysocial">
				<ul class="list-inline social-links">
					<li><a target="_blank" href="https://www.facebook.com/pressconstructions/">
							<i class="fab fa-facebook"></i>
					<li><a target="_blank" href="https://www.instagram.com/pressconstructions/">
							<i class="fab fa-instagram" aria-hidden="true"></i></a></li>

				</ul>
			</div>
			<div class="details">

				<!--Company Details-->

				<p> ABN 23 285 007 781 | ACN 638 481 606 | QBCC Licence 1512 5852</p>
			</div>
			<!--Copyright-->
			<div class="Copyright">
				&copy WickeDesigns 2020
			</div>

		</footer>






		<script src="https://code.jquery.com/jquery-3.2.1.min.js"
			integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
			integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js">
		</script>
	
	
	</body>
	</section>

</html>