{% extends 'base.html'%}
{% block title %}Press | Gallery{% endblock %}

{% block content %}
	<!-- Carousel -->
	<div id="carousel" class="carousel slide" data-ride="carousel">
		<!-- Indicators -->
		<ol class="slider">
			<li data-target="#carousel" data-slide-to="0" class="active"></li>
			<li data-target="#carousel" data-slide-to="1"></li>
			<li data-target="#carousel" data-slide-to="2"></li>
		</ol>


		<!-- Wrapper for slides -->
		<div class="carousel-inner">
			<div class="item active">
				<img src="static/images/grey.jpg" alt="greyhouse">
				<div class="carousel-caption">
					<h3></h3>
				</div>
			</div>


			<div class="item">
				<img src="static/images/stairs.jpg" alt="stairs">
				<div class="carousel-caption">
					<h3></h3>
				</div>
			</div>

			<div class="item">
				<img src="static/images/fence.jpg" alt="fence">
				<div class="carousel-caption">
					<h3></h3>
				</div>
			</div>

			<!-- Controls -->
			<a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left"></span>
			</a>
			<a class="right carousel-control" href="#carousel" role="button" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right"></span>
			</a>
		</div>
	{% endblock %}