{% extends 'base.html'%}{% block content %}

	<!--Project Samples-->
	<section class="Main">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12">
					<div class="page-header">
						<h2 class="text-uppercase"></h2>
						<h4>{% block title %}{% endblock %}</h4>
					</div>
				</div>
			</div>

			<div class="container-fluid">
				<div class="media">
					<div class="col-xs-12">
					<img class="img-responsive" src="static/images/PressImages.jpg">
					</div>
				</div>
			</div>
		</div>
{% endblock %}