{% extends 'base.html'%}
{% block title %}Press | Testimonials{% endblock %}

{% block content %}

<script async defer src="https://connect.facebook.net/en_US/sdk.js"></script>
<script>
	window.fbAsyncInit = function() {
    FB.init({
      appId            : '989900854742977',
      autoLogAppEvents : true,
      xfbml            : true,
      version          : 'v6.0'
      
    
    });
  };
</script>

<div class="container">
	<div class="card-group">
		<div class="row">
			<div class="col-md-4">
				<div class="card">
					<div class="fb-post" data-href="https://www.facebook.com/110484450482055/posts/800258520452670"
						data-width="500" data-adapt-container-width="true">
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="card">
					<div class="fb-post" data-href="https://www.facebook.com/110484450482055/posts/2237818553187326"
						data-width="500" data-adapt-container-width="true">
					</div>
				</div>
			</div>
	
			<div class="col-md-4">
					<div class="card">
                    	<div class="fb-post"
							data-href="https://www.facebook.com/110484450482055/posts/10162954932750595"
							data-width="500" data-adapt-container-width="true">
						</div>
					</div>
				</div>
		</div>
	</div>
</div>


		{% endblock %}